{% extends "layout.html" %} {% block body %}
<li>
  <a href="{{ url_for('index') }}">Subjects</a>
</li>
<li>
  <a href="{{ url_for('questions_form', subject_id=subject_id) }}">Add a question</a>
</li>
<h2>
  <!--TODO: diplay actual current subject name-->
  Test subject
</h2>
<table>
  <tr>
    <th>Question</th>
    <th>Mastered</th>
  </tr>
  {% if questions is defined %} {% for question in questions %}
  <tr>
    <td>{{ question.name }}</td>
    <td>{{ question.mastered == 1 }}</td>
    <td>
      <form method="GET" action="{{ url_for('questions_question', subject_id=question.subject_id, question_id=question.id) }}">
        <input type="submit" value="Edit" />
      </form>
    </td>
    </td>
  </tr>
  {% endfor %} {% endif %}
</table>
{% endblock %}