{% extends "layout.html" %} {% block body %}
<!--TODO: hide add and edit buttons if not auth (logged in as the subject creator)-->
<p>
  <a class="btn btn-outline-primary" href="{{ url_for('questions_form', subject_id=subject_id) }}" role="button">
    Add a question
  </a>
</p>
<h2>
  {{ subject_name }}
</h2>
<table>
  <tr>
    <th>Question</th>
    <th>Mastery</th>
  </tr>
  {% if questions is defined %} {% for question in questions %}
  <tr>
    <!--TODO: restrict text into a box (narrower than 144 characters)-->
    <td>{{ question.name }}</td>
    <td>{{ question.mastered * 1 }}</td>
    <td>
      <form method="GET" action="{{ url_for('questions_question', subject_id=question.subject_id, question_id=question.id) }}">
        <input type="submit" value="Edit" />
      </form>
    </td>
    </td>
  </tr>
  {% endfor %} {% endif %}
</table>
{% endblock %}