{% extends "layout.html" %} {% block body %}
<h2>
  {{ subject_name }}
</h2>
<form method="POST" action="{{ url_for('questions_create', subject_id=subject_id) }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.mastered.label }}
      </td>
      <td>
        {{ form.mastered }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Add a new question" />
      </td>
      <td>
        <a href="{{ url_for('questions_index', subject_id=subject_id) }}">Back</a>
      </td>
    </tr>
  </table>
</form>
{% endblock %}