{% extends "layout.html" %} {% block body %}
<h2>
  {{ subject_name }}
</h2>
<form method="POST" action="{{ url_for('questions_create', subject_id=subject_id) }}">
  <table>
    <tr>
      <td>
        <label class="pt-3 mb-0">{{ form.name.label }}</label>
      </td>
    </tr>
    <tr>
      <td>
        <textarea maxlength="144" id="name" name="name" rows="5">{% if question is defined %}{{ question.name }}{% endif %}</textarea>
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <label class="pt-3 mb-0">{{ form.answer.label }}</label>
      </td>
    </tr>
    <tr>
      <td>
          <textarea maxlength="144" id="answer" name="answer" rows="5">{% if question is defined %}{{ question.answer }}{% endif %}</textarea>
      </td>
      <td>
        <ul>
          {% for error in form.answer.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <!-- <tr>
      <td>
          <label class="pt-3 mb-0">{{ form.mastery.label }}</label>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <select class="form-control" id="{{ form.mastery }}">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </td>
    </tr> -->
    <tr>
      <td colspan="3">
        <input type="submit" value="Add a new question" />
      </td>
      <td>
        <a class="btn btn-outline-dark" href="{{ url_for('questions_index', subject_id=subject_id) }}" role="button">
          Back
        </a>
      </td>
    </tr>
  </table>
</form>
{% endblock %}