{% extends "layout.html" %} {% block body %}
<h2>
  <!--TODO: diplay actual current subject name-->
  Test subject
</h2>
<form method="POST" action="{{ url_for('questions_edit', subject_id=question.subject.id, question_id=question.id) }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name(value=question.name)}}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.mastered.label }}
      </td>
      <td>
        {{ form.mastered(checked=question.mastered, class_="form-control") }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Update question" />
      </td>
      <td>
        <a href="{{ url_for('questions_index', subject_id=question.subject_id) }}">Back</a>
      </td>
    </tr>
</form>

<form method="POST" action="{{ url_for('questions_delete', subject_id=question.subject_id, question_id=question.id) }}">
  <input type="submit" value="Delete question" />
</form>
{% endblock %}