{% extends "layout.html" %} {% block body %}
<h2 class="pb-4">
  {{ subject_name }}
</h2>

<form method="POST" action="{{ url_for('questions_edit', subject_id=question.subject.id, question_id=question.id) }}">
  <table>
    <tr>
      <td>
        <form method="POST" action="{{ url_for('questions_delete', subject_id=question.subject_id, question_id=question.id) }}">
          <input type="submit" value="Delete question" />
        </form>
      </td>
    </tr>
    <tr>
      <td>
          <label class="pt-3 mb-0">
            {{ form.name.label }}
          </label>
      </td>
    </tr>
    <tr>
      <td>
        <textarea id="name" name="name" rows="5">{{ question.name }}</textarea>
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <label class="pt-3 mb-0">
          {{ form.answer.label }}
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <textarea id="answer" name="answer" rows="5">{{ question.answer }}</textarea>
      </td>
      <td>
        <ul>
          {% for error in form.answer.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <label class="pt-3 mb-0">
          {{ form.mastery.label }}
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <select class="form-control" id="{{ form.mastery }}">
            <option hidden>{{ question.mastery }}</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Update question" />
      </td>
      <td>
        <a class="btn btn-outline-dark" href="{{ url_for('questions_index', subject_id=question.subject_id) }}" role="button">
          Back
        </a>
      </td>
    </tr>
</form>
{% endblock %}