{% extends "layout.html" %} {% block body %} {% if not current_user.is_authenticated %}
<p>
  Welcome! <a href="{{ url_for('auth_login') }}">Sign in</a> to start using the app.
</p>
{% else %}
<p>
  <a class="btn btn-primary" href="{{ url_for('subjects_form') }}" role="button">
    Create a new subject
  </a>
</p>
{% endif %}

<h2>Subjects</h2>

{% if subjects is defined %} {% for subject in subjects %}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center border border-light">
    <a href="{{ url_for('questions_index', subject_id=subject.id) }}">
      {{ subject.name }}
    </a>
    <a href="{{ url_for('questions_index', subject_id=subject.id) }}" class="badge badge-info">
      {{subject.questions}}
    </a>
  </li>
</ul>
{% endfor %} {% endif %} {% endblock %}