{% extends "layout.html" %} {% block body %} {{ error }}
<h2>
  Please sign in
</h2>
<p>
  Don't have an account yet?
  <a href="{{ url_for('auth_register') }}">Sign up</a>
  now for free!
</p>
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Sign in" />
      </td>
    </tr>
</form>
{% endblock %}