{% extends "layout.html" %} {% block body %}
<h2>
    Sign up
</h2>
<p>
    Please use a unique passphrase that you don't use anywhere else.</br>
    At the current stage of development the passwords are stored unencrypted.
</p>
<form method="POST" action="{{ url_for('auth_register') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username }}
            </td>
            <td>
                <ul>
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
            <td>
                <ul>
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Create user" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}